ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background: #423f3e;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #fff;
  display: inline-block;
  padding: 18px 2px;
  font-size: 20px;
  font-family: "Roboto";
}

.header-menu a:hover {
  color: #171010;
  transition: 0.6s;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 18px;
  }
  .header-menu a:hover {
    color: #fff;
  }
  .header-menu a {
    background: #3b3938;
    padding: 14px 12px;
    border-radius: 4px;
    font-size: 14px;
  }
  .header-menu a:hover {
    background-color: #4a4a4a;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 10px 8px;
    font-size: 12px;
  }
  .header a img {
    width: 40px;
  }
}

@media (max-width: 490px) {
  .header-menu {
    gap: 10px;
  }
  .header-menu a {
    padding: 8px 6px;
    font-size: 10px;
  }
  .header a img {
    width: 24px;
  }
}

@media (max-width: 395px) {
  .header-menu {
    gap: 8px;
  }
  .header-menu a {
    padding: 6px 4px;
    font-size: 6px;
  }
  .header a img {
    width: 22px;
  }
}
